Q4)The owner of the A.J. Fitness Center is interested in estimating the difference in mean years that female
members have been with the club compared with male members. He wishes to develop a 95%
confidence interval estimate. Sample data are in the file called AJ FITNESS. Assuming that the sample
data are approximately normal and that the two populations have equal variances, develop and
interpret the confidence interval estimate. Discuss the result.

In [4]:
import pandas as pd
import numpy as np

In [5]:
members = pd.read_excel('D://Business Statistic/MANB1123-master/MANB1123-master/Data_Set/AJFitness.xlsx')
members.head()

,Weights & Exercise Equipment Satisfaction,Club Staff Satisfaction,Exercise Programs Satisfaction,Overall Service Satisfaction,Years With the Club,Gender,Typical Visits Per Week,Age
0,4.0,4.0,3.0,4.0,4.0,1,4,26
1,1.0,4.0,5.0,3.0,1.0,1,1,24
2,4.0,5.0,1.0,3.0,3.0,1,0,33
3,3.0,4.0,1.0,3.0,2.0,1,1,45
4,4.0,4.0,2.0,3.0,3.0,2,3,38

In [7]:
male = members[members.Gender == 1] 
male.head()

,Weights & Exercise Equipment Satisfaction,Club Staff Satisfaction,Exercise Programs Satisfaction,Overall Service Satisfaction,Years With the Club,Gender,Typical Visits Per Week,Age
0,4.0,4.0,3.0,4.0,4.0,1,4,26
1,1.0,4.0,5.0,3.0,1.0,1,1,24
2,4.0,5.0,1.0,3.0,3.0,1,0,33
3,3.0,4.0,1.0,3.0,2.0,1,1,45
6,5.0,4.0,4.0,4.0,5.0,1,3,23

In [8]:
female = members[members.Gender == 2] 
female.head()

,Weights & Exercise Equipment Satisfaction,Club Staff Satisfaction,Exercise Programs Satisfaction,Overall Service Satisfaction,Years With the Club,Gender,Typical Visits Per Week,Age
4,4.0,4.0,2.0,3.0,3.0,2,3,38
5,3.0,4.0,3.0,3.0,3.5,2,5,36
7,3.0,2.0,3.0,3.0,1.0,2,4,25
8,5.0,5.0,3.0,4.0,2.0,2,1,28
10,3.0,4.0,3.0,3.0,3.5,2,2,39

In [9]:
male.shape[0]  #Get total male members

368

In [10]:
female.shape[0]  #Get total female members

846

In [11]:
male['Years With the Club'].mean() # Get mean years with the club for male members

2.7432065217391304

In [12]:
female['Years With the Club'].mean() # Get mean years with the club for female members

2.6400709219858154

In [13]:
male['Years With the Club'].var() # Get variance years with the club for male members

2.682515030802049

In [14]:
female['Years With the Club'].var() # Get variance years with the club for female members

2.5084634269167787

In [15]:
male['Years With the Club'].std() # Get standard deviation for years with the club for male members

1.6378385240316118

In [16]:
female['Years With the Club'].std() # Get standard deviation for years with the club for female members

1.5838129393702967

In [17]:
#Calculate point estimate

pe = male['Years With the Club'].mean() - female['Years With the Club'].mean()
pe

0.10313559975331499

In [18]:
import scipy.stats as st 
import math as m

In [22]:
sigma1 = 1.64 #after rounded male['Years With the Club'].std()
sigma2 = 1.58 # after rounded female['Years With the Club'].std()

n1 = male.shape[0]
n2 = female.shape[0]

#sigma power of 2
p_sigma1 = m.pow(sigma1,2)
p_sigma2 = m.pow(sigma2,2)

#Determine the standard error
value1 = (n1 - 1) * p_sigma1
value2 = (n2 -1) * p_sigma2
value3 = n1 + n2 - 2

sp = m.sqrt((value1 + value2) / value3)

In [23]:
#Determine the critical value
a = (1-0.95) / 2 #get alpha value
z = st.t.ppf(1-a, value3)
z

1.9619232269207072

In [24]:
#Determine confidence interval

value4 = 1/n1
value5 = 1/n2
value6 = m.sqrt(value4 + value5)
z = 1.96
c1 = pe - z * sp * value6
print (c1)

c2 = pe + z * sp * value6
print (c2)

-0.09249799959322497
0.29876919909985494

With 95% confidence, the mean number of years for male and female members is -0.0925 and 0.2988. [-0.0925 - 0.1031(point estimate)]  has greater distance than [0.2988 - 0.1031(point estimate)]. So, it can be assume that male members are more longer associated with the club compare to female members.